
Table{
width: 100%;
/* border-left: 2px solid rgb(100, 1, 17); */

}
Th{
    border: 2px solid rgb(100, 1, 17);


   
    padding: 1%;
}

Td{
    /* width: 10px; */
    padding: 1% 0 0 1%;
    border: 1px solid grey;

}